<robot name="mycar" xmlns:xacro="http://wiki.xacro.org/">
    <!-- 属性定义 -->
    <xacro:property name = "PI" value = "3.1415927"/>
    <xacro:property name = "radius" value = "0.03"/>

    <!-- 属性调用 -->
    <myuseProperties name ="${PI}"/>
    <myuseProperties name ="${radius}"/>

    <!-- 算术运算 -->
    <myuseProperties_1 name ="${PI/2}"/>

    <!-- 宏定义
    <xacro:macro name="宏名称" params="参数列表(多参数之间使用空格分隔)">

    .....

    参数调用格式: ${参数名}

    </xacro:macro>

    
     -->
   <xacro:macro name="getSum" params="num1 num2 num3">
        <result value ="${num1 + num2}"/>

    </xacro:macro>

    <!--
        宏调用  
        <xacro:宏名称 参数1=xxx 参数2=xxx/>
     -->
     <xacro:getSum num1="1"  num2="2" num3="3"/>
</robot>